
@iconHeight: 95vh;

.icon {
  font-size: 90vh;
  color: @textColor2;
  border: 2vh solid @textColor2;
  background-color: fade(@textColor2, 20%);
  border-radius: @iconHeight;
  height: @iconHeight;
  width: @iconHeight;
  text-align: center;
  line-height: @iconHeight;
  position: absolute;
  top: ~"calc(50% - 47.5vh)";
  left: ~"calc(50% - 47.5vh)";
  stroke-width: 30px;
  stroke: @textColor2;
  fill: none;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}