
.editRecord {
  .content  {
    padding: 10px 0;
    border-bottom: 1px #555 solid;

    display: block;
    position: relative;

    .date {
      color: @textColor4;
      width: 100%;
      text-align: center;
    }
    .money {
      text-align: center;
      width: 100px;
      margin: 0 auto;
      color: inherit;
      border: 1px @textColor4 solid;
      border-radius: 5px;
      margin-bottom: 15px;
      input {
        margin-bottom: 0;
      }
    }
    .receipt {
      margin: 10px 0;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
}