<template name="editRecord">
  <div class="page editRecord">
    <div class="nav">
      <div class="title">Edit</div>
      <div class="left cancel octicon octicon-x"></div>
      <div class="right save">
        {{#waiting isLoading=loadingSave}}
          <span class="octicon octicon-check"></span>
        {{/waiting}}
      </div>
    </div>
    <div class="content under-nav">
<!--       <div class="date">{{formatDate date}}</div>-->

      <input type="text" name="note" placeholder="note" autocorrect="off" autocapitalize="off" value="{{note}}">

      <select name="category">
        <option selected="" disabled="" value="">-- category --</option>
        {{#each categories}}
          <option value="{{this}}" selected="{{selected this ../category}}">{{this}}</option>
        {{/each}}
      </select>

      <div class="money">
        <div class="dollar-sign">$</div>
        <input class="dollar" type="number" inputmode="numeric" step="0.01" name="amount" placeholder="0.00" autocorrect="off" autocapitalize="off" value="{{amount}}">
      </div>
      
      {{>error}}

      <div class="receipt">
        <img src="{{receipt.url}}">
      </div>

      {{#waiting isLoading=loadingDelete}}
        {{#if confirmDelete}}
          <button class="confirm">Are you sure?</button>
        {{else}}
          <button class="delete">Delete</button>
        {{/if}}
      {{/waiting}}
    </div>
  </div>
</template>
