<template name="forgot">
  <div class="forgot account page">

    {{#app navTitle="Recover Password" 
       toolbarHeight=1}}
      
      <form id="recover">
        <input type="text" name="email" placeholder="email" autocorrect="off" autocapitalize="off">
        {{>error}}
        {{>message}}
        {{#waiting isLoading=loading}}
          <input type="submit" value="send recovery email">
        {{/waiting}}
      </form>

    {{else}}
      <div class="toLogin">login</div>
    {{/app}}

  </div>
</template>

