input[type="text"], input[type="password"], input[type="email"] {
  color: @bodyTextColor;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px @textColor4 solid;
  border-radius: 0;
}

textarea:focus, input:focus{
  outline: 0;
}


select, input {
  width: 100%;
  height: @inputHeight;
  -webkit-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21px;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

textarea {
  height: auto;
}

button, input[type="submit"], input[type="button"] {
  // position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  height: @buttonHeight;

  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  border: 0;
  color: @textColor4;
  background-color: @color1;
  border: 1px solid @textColor4;
  border-radius: 3px;
  margin-bottom: 15px;
}
