input[type="text"], input[type="password"], input[type="email"] {
  color: @bodyTextColor;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px @textColor4 solid;
  border-radius: 0;
}

input[type="number"] {
  width: 55px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  color: @bodyTextColor;
  background-color: rgba(0,0,0,0);
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea:focus, input:focus{
  outline: 0;
}

input {
  width: 100%; 
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  height: @inputHeight;
}

select {
  color: @bodyTextColor;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: inherit;
  font-family: inherit;
  background-color: rgba(0,0,0,0);
  height: @inputHeight;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}


select {
  background-color: transparent;
  color: white;
  appearance: none;
  text-align: center;
  border: 1px solid red;
  width: 80%;
  margin-left: 10%;
}

textarea {
  height: auto;
}

button, input[type="submit"], input[type="button"] {
  // position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  height: @buttonHeight;

  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  border: 0;
  color: @textColor4;
  background-color: @color1;
  border: 1px solid @textColor4;
  border-radius: 3px;
  margin-bottom: 15px;
}
