<template name="home">
  <div class="page home">
    <div class="nav">
      <div class="title">Taxes</div>
      <div class="right newRecord octicon octicon-plus"></div>
      <div class="left settings octicon octicon-gear"></div>
    </div>
    <div class="content under-nav">
      {{#if noRecords}}
        <button class="new newRecord">New Record <span class="entypo plus newRecord"></span></button>
      {{else}}
        {{#each records}}
          <div class="record-item">
            <div class="date">{{formatDate date}}</div>
            <div class="category">{{category}}</div>
            <div class="note">{{formatNote}}</div>
            <div class="amount">${{formatAmount amount}}</div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</template>