<template name="home">
  <div class="page home">
    {{>nav title="Records" 
           leftClass="settings octicon octicon-gear" 
           rightClass="newRecord octicon octicon-plus"}}
    
    <div class="content under-nav {{disconnected}}">
      {{#if noRecords}}
        <button class="new newRecord">New Record <span class="entypo plus newRecord"></span></button>
      {{else}}
        {{#each records}}
          <div class="record-item">
            <div class="date">{{formatDate date}}</div>
            <div class="category">{{category}}</div>
            <div class="note">{{formatNote}}</div>
            <div class="amount">${{formatAmount amount}}</div>
          </div>
        {{/each}}
      {{/if}}
    </div>
    
  </div>
</template>
