<template name="home">
  <div class="page home">
    {{#app navTitle="Records" 
           navLeftClass="settings octicon octicon-gear" 
           navRightClass="newRecord octicon octicon-plus"}}
    
      {{#if noRecords}}
        <button class="new newRecord">New Record <span class="entypo plus newRecord"></span></button>
      {{else}}
        {{#each records}}
          <div class="record-item">
            <div class="date">{{formatDate date}}</div>
            <div class="category">{{category}}</div>
            <div class="note">{{formatNote}}</div>
            <div class="amount">${{formatAmount amount}}</div>
          </div>
        {{/each}}
      {{/if}}
    {{/app}}

  </div>
</template>
