<template name="signup">
  <div class="signup account page">
    
    <div class="nav">
      <div class="left exitSignup"><span class="octicon octicon-x"></span></div>
      <div class="title">Signup</div>
    </div>

    <div class="content under-nav">
      <form id="signup">
        <input type="email" name="email" placeholder="email" autocorrect="off" autocapitalize="off">
        <input type="password" name="password" placeholder="password" autocorrect="off" autocapitalize="off">
        <input type="password" name="verify" placeholder="verify password" autocorrect="off" autocapitalize="off">
        <div class="error">{{error}}</div>
        {{#waiting isLoading=loading}}
          <button type="submit">signup</button>
        {{/waiting}}
      </form>
    </div>

  </div>
</template>