<template name="record">
  <div class="page record">
    <div class="nav">
      <div class="title">Record</div>
      <div class="left back"><span class="entypo chevron-left"></span></div>
    </div>
    <div class="content under-nav">
      <div class="date">{{formatDate date}}</div>
      <div class="amount">${{formatAmount amount}}</div>
      <div class="note">{{note}}</div>
      <div class="receipt">
        <a href="{{receipt.url download=true}}"><img src="{{receipt.url}}"></a>
      </div>
      <button class="delete">Delete</button>
    </div>
  </div>
</template>