<template name="record">
  <div class="page record">
    <div class="nav">
      <div class="title">Record</div>
      <div class="left back octicon octicon-chevron-left"></div>
      <div class="right edit octicon octicon-pencil"></div>
    </div>
    <div class="content under-nav">
      <div class="date">{{formatDate date}}</div>
      <div class="amount">${{formatAmount amount}}</div>
      <div class="category">{{category}}</div>
      <div class="note">{{note}}</div>
      <div class="receipt">
        {{#if isCordova}}
          <img src="{{receipt.url}}">
        {{else}}
          <a href="{{receipt.url download=true}}"><img src="{{receipt.url}}"></a>
        {{/if}}
      </div>
    </div>
  </div>
</template>