<template name="login">
  <div class="login account page">

    {{#app navTitle="Login" 
       navLeftClass="exitLogin octicon octicon-x"
       toolbarHeight=1}}
      
      <form id="login">
        <input type="email" name="email" placeholder="email" autocorrect="off" autocapitalize="off">
        <input type="password" name="password" placeholder="password" autocorrect="off" autocapitalize="off">
        {{>error}}
        {{#waiting isLoading=loading}}
          <button type="submit">login</button>
        {{/waiting}}
      </form>

    {{else}}
      <div class="toForgot">forgot password?</div>
    {{/app}}

  </div>
</template>
