<template name="newRecord">
  <div class="page newRecord">
    <div class="nav">
      <div class="left"><span class="octicon octicon-x cancel"></span></div>
      <div class="title">New Record</div>
    </div>
    <div class="content under-nav">
      <form id="record">
        <input type="text" name="note" placeholder="note" autocorrect="off" autocapitalize="off">

        <select name="category">
          <option selected disabled value="">-- category --</option>
          {{#each categories}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>

        <div class="money">$<input type="number" inputmode="numeric" step="0.01" name="amount" placeholder="0.00" autocorrect="off" autocapitalize="off"></div>

        {{#if isCordova}}
          <div class="upload">
            <div class="camera takePicture">
              <span class="mega-octicon octicon-device-camera"></span>
            </div>
          </div>
        {{else}}
          <div class="upload">
            <div class="camera">
              <span class="mega-octicon octicon-device-camera"></span>
            </div>
            <input type="file" name="receipt" accept="image/*">
          </div>
        {{/if}}
        <div class="error">{{error}}</div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>